In [7]:
import pandas as pd

people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [8]:
# E' possibile definire una colonna come  indice del DataFrame. 
# I valori di questa colonna dovrebbero essere univoci (non obbigatorio)
# In assenza di questa definizione l'indice è il contatore (integer)
df.set_index('email')

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [9]:
# Nonostante l'istruzione di indicizzazione, il DataFrame è rimasto immutato perchè pandas non fa modifiche "in place" se 
# non specificatamente richiesto
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [10]:
df.set_index('email', inplace=True)
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

df.index

In [13]:
# Ora è possibile utilizzare loc con la label della row per estrarre la row stessa
df.loc['CoreyMSchafer@gmail.com']

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [14]:
# Se voglio  tornare all'index originale
df.reset_index(inplace=True)
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [ ]:
# E' possibile anche definire l'indice nel momento in cui si crea il DataFrame