In [5]:
import pandas as pd

people = {
    "first": ["Corey", 'Jane', 'John','Adam'], 
    "last": ["Schafer", 'Doe', 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com', 'adoe@mail.com']
}

df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe            adoe@mail.com

In [6]:
# Per ordinare un DataSet si utilizza il metodo sort_values
# Ad esempio per sortare per la colonna 'last' . Il default è ascending (crescente)
df.sort_values(by='last')

   first     last                    email
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe            adoe@mail.com
0  Corey  Schafer  CoreyMSchafer@gmail.com

In [7]:
df.sort_values(by='last', ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe            adoe@mail.com

In [8]:
# Per sortare per più colonne è necessario passare la lista delle colonne a sort_values
df.sort_values(by=['last', 'first'], ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com
1   Jane      Doe        JaneDoe@email.com
3   Adam      Doe            adoe@mail.com

In [11]:
# Per variare l'ordimento delle colonne devo pasare una lista di boolean al parametro ascending?) 
df.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe            adoe@mail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [12]:
# E' possibile ri-sortare per l'indice e riportare così il DataFrame all'ordine precedente
df.sort_index()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe            adoe@mail.com

In [13]:
# E' possibile sortare semplicemente  la series senza sortare il DataFrame
df['last'].sort_values()

3        Doe
1        Doe
2        Doe
0    Schafer
Name: last, dtype: object