In [1]:
import pandas as pd

people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [5]:
# Per effettuare un filtro 
# Se effettuo il  confronto diretto ottengo una Series con i valori True o False
# Il risultato otteuto  è una "filter mask" che indica quali sono le row che corrispondono al criterio di filtro
filt = (df['last'] == 'Doe')
filt

0    False
1     True
2     True
Name: last, dtype: bool

In [6]:
# Passanfo la filter mask come parametro ad DataFrame, ottendo le rows che corrispondono al criterio di ricerca
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [8]:
# Stesso risultato si ottiene passando il filter al metodo loc.
df.loc[filt]

# Questo secondo metodo è preferibile in quanto in  questo modo è possibile filtrare anche le colonne a cui si è interessati.
# Il primo parametro di loc serve a filtrare le righe mentre il secondo le colonne
df.loc[filt, 'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [9]:
# Per unire le condizioni si utilizza 
- & (and)
- | (or)
filt = (df['last'] == 'Doe') & (df['first'] == 'John')
df.loc[filt]

  first last              email
2  John  Doe  JohnDoe@email.com

In [10]:
# Per negare la condizione si utilizza ~
df.loc[~filt]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com