In [2]:
# Dictionary che definisce i dati relativi  ad una sola persona
# ad ogni key è associato unvalie di tipo string
person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}
person

{'first': 'Corey', 'last': 'Schafer', 'email': 'CoreyMSchafer@gmail.com'}

In [3]:
# Dictionary che definisce i dati relativi  a più persone
# ad ogni key è associata una lista di values di tipo string
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}
people

{'first': ['Corey', 'Jane', 'John'],
 'last': ['Schafer', 'Doe', 'Doe'],
 'email': ['CoreyMSchafer@gmail.com',
  'JaneDoe@email.com',
  'JohnDoe@email.com']}

In [5]:
# Con  un dictionary è possibile accedere a tutti i valori di una key (corrisponde alla colonna).
# Viene restituita una List con  tutti i valori
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [6]:
# E possibile creare un pandas DataFrame a partire da un Python dictionary 
import pandas as pd

df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [7]:
# Anche con un DataFrame è possibile estrarre il contenuto di una colonna con la stessa sintassi utilizzata per i dict
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [8]:
# In questo caso non viene restituita una List ma una Series
type(df['email'])

pandas.core.series.Series

In [9]:
# Eè possibile accedere ad una Series di un DataFrame anche utilizzando la dot notation (da preferire l'utilizzo di key)
df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [10]:
# E' possibile accedere a più colonne di un DataFrame passando come parametro la lista delle colonne
# In questo caso otterremo un DataFrame 
df[['email', 'last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe
2        JohnDoe@email.com      Doe

In [11]:
# E' possibile ottenere un elenco di tutte le colonne del DataFrame
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [12]:
# Per accedere alle rows di un DataFrame si utilizzano  i metodè 
# - loc (accede per label) -> che per le row è l'index (in questo caso non l'index corrisponde al numero di row)
# - iloc (accede alle row per integer notation)

# accedo alla prima iga del DataFrame
# Restiruisce una Series
df.iloc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [13]:
# E' possibile accedere ad una lista  di righe passando  una List di indici come parametro a iloc
# In questo caso otterremo un DataFrame
df.iloc[[0, 1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [17]:
# E' possibile filtrare ulteriormente per colonna, passando  a iloc :
# - una lista di indici come primo parametro per individuare le righe
# - una lista di indici come secondo parametroper individuare le colonne
df.iloc[[0,1],[1,2]]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com

In [18]:
# L'utilizzo di loc per estrarre row, in questo caso, è identico a iloc in quanto la label e l'indice coincidono
# 
df.loc[[0, 1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [19]:
# Per estrarre la colonna utilizzo la label
df.loc[[0, 1], 'email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [20]:
# Per più colonne passo una lista di label di colonna
df.loc[[0, 1], ['email', 'last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe